
<md-card flex-offset="33" flex>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Star Wars API Search</span>
      <span class="md-subhead">What are you looking for?</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content flex="50">
    <div layout="row">
      <md-input-container>
        <label>Keyword</label>
        <input ng-model="sc.search.keyword">
      </md-input-container>

      <md-input-container>
        <label>Catergory</label>
        <md-select ng-model="sc.search.catergory">
          <md-option><em>None</em></md-option>
          <md-option value="films">Films</md-option>
          <md-option value="people">People</md-option>
          <md-option value="planets">Planets</md-option>
          <md-option value="species">Species</md-option>
          <md-option value="starships">Starships</md-option>
          <md-option value="vehicles">Vehicles</md-option>
        </md-select>
        <md-button class="md-primary md-raised"ng-click="sc.startSearch(sc.search.keyword, sc.search.catergory)">search</md-button>

      </md-input-container>
    </div>
  </md-card-content>
</md-card>








<div layout="row" layout-xs="column" layout-wrap>
<md-card flex="30" ng-repeat="result in sc.search.result.results">
  <md-card-content>
    <p ng-show="result.title">Title: {{result.title}}</p>
    <p ng-show="result.name">Name: {{result.name}}</p>
    <p ng-show="result.birth_year">Born: {{result.birth_year}}</p>
    <p ng-show="result.eye_color">Eye Color: {{result.eye_color}}</p>

    <p ng-show="result.homeworld">HomeWorld: {{result.homeworld}}</p>
    <p ng-show="result.opening_crawl">Opening: {{result.opening_crawl}}</p>
    <p ng-show="result.release_date">Release Date: {{result.release_date}}</p>
    <p ng-show="result.director">Director: {{result.director}}</p>
    <p ng-show="result.climate">Climate: {{result.climate}}</p>
    <p ng-show="result.terrain">Terrain: {{result.terrain}}</p>
    <p ng-show="result.classification">Classification: {{result.classification}}</p>
    <p ng-show="result.skin_colors">Skin Color: {{result.skin_colors}}</p>
    <p ng-show="result.skin_color">Skin Color: {{result.skin_color}}</p>
    <p ng-show="result.hair_color">Hair Color: {{result.hair_color}}</p>
    <p ng-show="result.hair_colors">Hair Color: {{result.hair_colors}}</p>
    <p ng-show="result.average_height">Average Height: {{result.average_height}}</p>
    <p ng-show="result.average_lifespan">Average Lifespan: {{result.average_lifespan}}</p>
    <p ng-show="result.model">Model: {{result.model}}</p>
    <p ng-show="result.crew">Crew: {{result.crew}}</p>
    <p ng-show="result.passengers">Passengers: {{result.passengers}}</p>
    <p ng-show="result.length">Length: {{result.length}}</p>
    <p ng-show="result.cargo_capacity">Cargo Capacity: {{result.cargo_capacity}}</p>
    <p ng-show="result.hyperdrive_rating">Hyperdrive Rating: {{result.hyperdrive_rating}}</p>
    <p ng-show="result.max_atmosphering_speed">Max Atmosphere Speed: {{result.max_atmosphering_speed}}</p>
    <p ng-show="result.manufacturer">Manufacturer: {{result.manufacturer}}</p>
    <!-- <p ng-hide="result.species[2]">Species: <ul ng-hide="result.species[1]">
      <li ng-repeat="species in result.species"><p>{{species}}</p></li>
        </ul>
    </p> -->
    <div ng-show="result.films">Films: <ul>
      <li ng-repeat="film in result.films">
        {{film}}
      </li>
        </ul>
    </div>
  </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
      <md-button  class="md-primary md-raised" ng-click="sc.addFavorite(result)">Add To Favorites</md-button>
    </md-card-actions>
</md-card>
</div>
<div flex="10">
<md-button  ng-show="sc.search.result.previous"ng-click="sc.pageMove(sc.search.result.previous)">Previous</md-button>
<md-button  ng-show="sc.search.result.next"ng-click="sc.pageMove(sc.search.result.next)">Next</md-button>
</div>
